@import url('https://fonts.googleapis.com/css?family=Play|Sedgwick+Ave+Display');


/* NAVBAR STYLES */

.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: white;
  background-color: #E68100;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
}

.navbar-default
.navbar-nav>li>a {
  color: #E68100;
  text-shadow: 1px 1px 1px #000;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: rbga(0,0,0,.25);
}
.navbar-brand {
  height: 130px;
  margin-top: -30px;
  margin-left: 0;
  margin-bottom: -40px;
}
.navbar-brand img {
  max-height: 100%;
}

/* CAROUSEL STYLES */
.item {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.item h2 {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 48px;
  color: #CF1717;
}

.item h3 {
  font-family: 'Play', sans-serif;
  color: #E68100;
}

.profitgrowth-bg {
  background-image: url('../img/profitgrowth.jpg');
}

.phone-bg {
  /* background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */
  background-image: url('../img/phone.jpg');
}

.page-2 {
  background: linear-gradient(to right,red,orange,yellow,green);
  height: 100vh;
}

.row {
  margin-left: 5px;
  margin-right: 10px;
}


@media (min-width: 675px) {
  .item h3 {
    color: green;
}

@media (min-width: 1025px) {
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: green 0.8;
    }
  .item h2 {
    color: green;
  }
}
